$primary: rgb(111, 0, 255);
$secondary: #7d7c84;
$info: #2d93ad;
$green: #88ab75;
$yellow: #dbd56e;

form {
    background-color: lighten($secondary, 30%);
    padding: 1rem;
    border-radius: .25rem;
    margin-top: 2rem;

    label {
        display: block;
        margin: .75rem 0 .25rem 0;
    }

    input[type=text], input[type=email] {
        display: block;
        padding: .75rem 1rem;
        box-sizing: border-box;
        width: 100%;
        border: none;
        background-color: lighten($secondary, 45%);
        border-radius: .10rem;
    }

    input[type=submit] {
        display: block;
        margin-top: .75rem;
        background-color: $primary;
        border: none;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: darken($primary, 25%);
    }
}